{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div>
        <h1>{{ login_title }}</h1>

        <button type="button"
                class="btn btn-success btn-xs"
                onclick=window.location.href='{{ url_for("auth.register") }}'>注册</button>
        <button type="button"
                class="btn btn-danger btn-xs"
                onclick="close_window()">退出</button>

        <hr>

        <div class="row">
            <div class="col-md-4">
                {{ wtf.quick_form(form) }}
            </div>
        </div>

    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="application/javascript">
        function close_window() {
            window.opener=null;
            window.open('','_self');
            window.close();
        }
    </script>
{% endblock %}