{% extends "base.html" %}

{% block app_content  %}
    <h1>
        {% if Unexpected %}
            {{ Unexpected }}
        {% else %}
            遇到了一个未知错误
        {% endif %}
    </h1>
    <p>
        {% if NoticeAdministrator %}
            {{ NoticeAdministrator }}
        {% else %}
            已经通知超级管理员，为您造成麻烦深感抱歉。
        {% endif %}
    </p>
    <p><a href="{{ url_for('main.index') }}">
        {% if Back %}
            {{ Back }}
        {% else %}
            退回
        {% endif %}
    </a></p>
{% endblock %}