{% extends "base.html" %}

{% block app_content %}

    <h1>{{ vote.name }}</h1>
        <font size="2">今日随机选项：</font>
        <font size="3" color="#a52a2a">{{ vote.get_today_random_option() }}</font>
    <br />
        <font size="2">今日投票人数：</font>
        <font size="3" color="#a52a2a">{{ vote.nb_voted_users_today() }}</font>
        <font size="2">({{ vote.string_names_has_voted_users_today() }})</font>
    <br />
        <font size="2">今日未投票人数：</font>
        <font size="3" color="#a52a2a">{{ vote.nb_not_voted_users_today() }}</font>
        <font size="2">({{ vote.string_names_not_has_voted_users_today() }})</font>
    <br />
    {% if vote.is_user_vote_today(current_user.id) %}
        <font size="2" color="#a9a9a9"
              style="cursor: pointer"
              onclick="delete_select({{ vote.id }}, {{ current_user.id }})">
            您今天已经参与了投票，点击取消投票
        </font>
    {% endif %}

    <br />
        <div class="input-group">
            <span class="input-group-addon">(☞ﾟヮﾟ)☞ </span>
            <input type="text"
                   id="search_text"
                   class="form-control"
                   placeholder="搜索店铺"
                   oninput="change_search_text()">
            <span class="input-group-addon">☜(ﾟヮﾟ☜)</span>
        </div>

        <div id="list_restaurant"
             class="input-group"
             style="display: none;">
        </div>

    <table class="table table-hover" id="table_restaurant">
        <tr>
            <td>选项</td>
            <td>投票人数</td>
        </tr>
    {% for option in vote.get_ordered_options() %}
            {% if vote.is_user_vote_today(current_user.id) %}
                <tr style="cursor:pointer;"
                    onclick="change_vote({{ vote.id }}, {{ option.id }}, {{ current_user.id }})">
            {% else %}
                <tr style="cursor: pointer"
                    onclick="vote_for_topic({{ vote.id }}, {{ option.id }}, {{ current_user.id }})">
            {% endif %}
                <td class="class_restaurant">
                    {{ option.id }}：{{ option.name }}
                </td>
                <td>
                    {{ option.nb_user_selected_today() }}
                    {% if option.is_user_selected_today(current_user.id) %}
                        (已投票)
                    {% endif %}
                </td>
            </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script type="text/javascript">
        function vote_for_topic(vote_id, option_id, user_id) {
            window.location.href="/act/vote/add/"+vote_id+"/"+option_id+"/"+user_id;
        }
    </script>

    <script type="text/javascript">
        function delete_select(vote_id, user_id) {
            window.location.href="/act/vote/delete/"+vote_id+"/"+user_id;
        }
    </script>

    <script type="text/javascript">
        function change_vote(vote_id, option_id, user_id) {
            if (window.confirm("您确认要修改您的选择？")){
                window.location.href="/act/vote/change/"+vote_id+"/"+option_id+"/"+user_id;
            }
        }
    </script>

    <script type="text/javascript">
        function change_search_text() {
            var search_text = document.getElementById("search_text").value;
{#            alert(search_text);#}
        }
    </script>

    <script type="text/javascript">
        // 监听搜索框内容变化事件
        var node = document.querySelector('#search_text');
        var window_restaurant = document.querySelector('#list_restaurant');
        var inputLock = false;
        var list_restaurant = document.getElementsByClassName("class_restaurant");

        $('#search_text').on('compositionstart', function () {
            inputLock = true
        }).on('compositionend',function () {
            inputLock = false
        }).on('input', function () {
          //定时器内才会生效 注意：定时器内this指向已发生改变
            setTimeout(function(){
                if (!inputLock){
                    if (node.value.trim() === ""){
                        window_restaurant.style.display="none";
                    }
                    else{
                        var innerHTML = '<ul class="list-group">';
                        for (var i=0, len=list_restaurant.length; i<len; i++){
                            var current_restaurant = list_restaurant[i].innerHTML
                            if (current_restaurant.search(node.value)!==-1){
                                innerHTML += '<li class="list-group-item">'+list_restaurant[i].innerHTML+'</li>';
                            }
                        }
                        innerHTML += '</ul>';
                        window_restaurant.innerHTML=innerHTML;
                        window_restaurant.style.display="block";
                    }
                }
            })
        });
    </script>
{% endblock %}