{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapChanges.css') }}">

    <h1 style="text-align: center">{{ current_cv.name }}</h1>

    {% if not current_user.is_anonymous %}
        {% if current_cv and current_user.id==current_cv.author.id %}
            {% if not is_edited %}
                <button type="button" class="btn btn-primary btn-xs" onclick=window.location.href="{{ url_for('data.cv_edit', id=current_cv.id) }}">编辑</button>
            {% endif %}
        {% endif %}
    {% endif %}

    <hr />

    <div class="row">
        <div class="col-sm-3" style="padding-left: 0">
            {% include 'data/cv/main_attribute.html' %}
            <hr />
        </div>
        <div class="col-sm1">
            <div style='width:1px;border:1px solid darkgray;float:left;height:500px'>
            </div>
        </div>
        <div class="col-sm-8" style="padding-left: 5%">
            {#教育经历#}
            {% include 'data/cv/school.html' %}

            {#工作经历#}
            {% include 'data/cv/enterprise.html' %}

            {#实习经历#}
            {% include 'data/cv/internship.html' %}

            {#项目经历#}
            {% include 'data/cv/project.html' %}
        </div>
    </div>
{% endblock %}
