{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <div class="row">
        <h1 class="text-center">新帖子</h1>

        <form method="post" id="form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class_='form-control') }}
            </div>

            <div class="form-group">
                {{ form.post.label }}
                {% if form.post.errors %}
                    {% for e in form.text.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div id="editormd" class="form-control">
                    {{ form.post(style="display:none;") }}
                </div>
            </div>
{#            <input class="btn btn-primary" type="submit" value="提交">#}
            <div style="display:none">
                {{ form.post_html }}
            </div>
            <button class="btn btn-primary" type="button" onclick="test()">提交</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
{#                width: "100%",#}
                height: 640,
                syncScrolling: "single",
                path: "{{ url_for('static',filename='editormd/lib/') }}",
                saveHTMLToTextarea : true,
            });
        });
    </script>

    <script type="application/javascript">
        function test() {
            var markdown_list = document.getElementsByClassName("markdown-body");
            var markdown_object = markdown_list[0];
            document.getElementById('post_html').value = markdown_object.innerHTML;
            document.getElementById("form").submit();
        }
    </script>

{% endblock %}