{% extends "base.html" %}

{% block app_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.preview.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.min.css') }}" />

    <div class="row">
        {% if is_edit %}
            <h1 class="text-center">编辑帖子</h1>
        {% else %}
            <h1 class="text-center">新帖子</h1>
        {% endif %}
        <form method="post" id="add_post_form">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.title.label }}
                {% if form.title.errors %}
                    {% for e in form.title.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.title(class_='form-control') }}
            </div>
            <div class="form-group">
                {{ form.list_tags.label }}
                {{ form.list_tags(class_='form-control select_tags') }}
            </div>

            <div class="form-group">
                {{ form.post.label }}
                {% if form.post.errors %}
                    {% for e in form.text.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div id="editormd" class="form-control">
                    {{ form.post(style="display:none;") }}
                </div>
            </div>
{#            <input class="btn btn-primary" type="button" value="提交" onclick="post_submit()">#}
            <input class="btn btn-primary" type="submit" value="提交">
            <input class="btn btn-danger" type="button"
                   onclick=relocated_to_user_page("{{ url_for('main.user', username=current_user.username) }}")
                   value="取消">
        </form>

    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='select2/select2.min.js') }}"></script>
    <script type="application/javascript">
        function post_submit() {
            alert("hehe");
            document.getElementById("add_post_form").submit();
        }
    </script>
    <script type="application/javascript">
        $(document).ready(function() {
            $('.select_tags').select2();
        });
    </script>

    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
{#                width: "100%",#}
                height: 640,
                syncScrolling: "single",
                path: "{{ url_for('static',filename='editormd/lib/') }}",
                saveHTMLToTextarea : true,
                // 开启科学公式TeX语言支持，默认关闭
                tex: true,
                emoji: true,
                taskList: true,
                tocm: true
                // 下列两个选项不开启，因为他与与select2冲突
                // 开启流程图支持，默认关闭
                // flowChart: true,
                // 开启时序/序列图支持，默认关闭,
                // sequenceDiagram: true
            });
        });
    </script>

{% endblock %}