{% extends "base.html" %}

{% block app_content %}
    <h1 class="text-center">{{ post.title }}</h1>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.preview.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='katex/katex.css') }}" />

    <div class="content" id="fancy-content">
            {{ post.body | md | safe }}
    </div>

    <style type="text/css">
        table {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: rgba(102, 102, 102, 1);
            border-collapse: collapse;
        }
        table th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: rgba(102, 102, 102, 1);
            background-color: #dedede;
        }
        table td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: rgba(255, 255, 255, 0);
        }

		table tr:nth-child(even) {
			background: rgba(102, 102, 102, 0.1)
		}
		table tr:nth-child(odd) {
			background: rgba(255, 255, 255, 1)
		}
    </style>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
    <script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>

    <script src="{{ url_for('static', filename='katex/katex.js') }}"></script>
    <script src="{{ url_for('static', filename='katex/katex.min.js') }}"></script>

    <script src="{{ url_for('static', filename='katex/contrib/auto-render.min.js') }}"  onload="renderMathInElement(document.body);"></script>
{% endblock %}